.city-card-item {
    margin: 0.5rem 0;
    font-size: var(--large-text);
}

.city-card-cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgb(36, 36, 36);
    background-color: transparent;
    border: none;
}

.city-card-updated {
    text-transform: uppercase;
    color: var(--text-color-dark);
}

.city-card-location-title {
    color: rgb(132, 0, 183);
    font-size: var(--large-text-2x);
}

.city-card-location-city {
    color: var(--text-color-dark);
}

.city-card-measurements {
    color: rgb(33, 33, 33);
    font-weight: 700;
}

@media(max-width: 76.8rem) {
    .city-card-item {
        margin: 0.3rem 0;
        font-size: var(--medium-text);
    }

    .city-card-location-title {
        font-size: var(--large-text-1x);
    }
}

@media(max-width: 41.4rem) {
    .city-card-item {
        font-size: var(--small-text);
    }

    .city-card-location-title {
        font-size: var(--large-text);
    }
}