.city-card-item {
    margin: 0.5rem 0;
    font-size: 1.4rem;
}

.city-card-cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgb(36, 36, 36);
    background-color: transparent;
    border: none;
}

.city-card-updated {
    text-transform: uppercase;
    color: rgb(21, 21, 21);
}

.city-card-location-title {
    color: rgb(132, 0, 183);
    font-size: 2rem;
}

.city-card-location-city {
    color: rgb(21, 21, 21);
}

.city-card-measurements {
    color: rgb(33, 33, 33);
    font-size: 1.6rem;
    font-weight: bold;
}